第四章 操作列表

In [1]:
magicians = ['alice','david','carolina']
for magician in magicians:
    print(magician)

alice
david
carolina

In [2]:
magicians = ['alice','david','carolina']
for magician in magicians:
    print(magician)
print(magician)

alice
david
carolina
carolina

In [4]:
magicians = ['alice','david','carolina']
for magician in magicians:
    print(magician.title() + ",that was a great trick!")

Alice,that was a great trick!
David,that was a great trick!
Carolina,that was a great trick!

In [5]:
magicians = ['alice','david','carolina']
for magician in magicians:
    print(magician.title() + ",that was a great trick!")
print("thank you ,")

Alice,that was a great trick!
David,that was a great trick!
Carolina,that was a great trick!
thank you ,

In [6]:
magicians = ['alice','david','carolina']
for magician in magicians:
print(magician)

IndentationError: expected an indented block (2077129956.py, line 3)

In [7]:
magicians = ['alice','david','carolina']
for magician in magicians:
    print(magician.title() + ",that was a great trick!")
print("thank you ," + magician)

Alice,that was a great trick!
David,that was a great trick!
Carolina,that was a great trick!
thank you ,carolina

In [8]:
message = "hello python world"
     print(massage)
非必要的缩进

IndentationError: unexpected indent (2472848734.py, line 2)

In [9]:
pizzas = ['pizzaA','pizzaB','pizzaC']
for temp in pizzas:
      print(temp)
for temp2 in pizzas:
      print('I like:' + temp2 +'!')
print('老喜欢吃披萨了，比如：' + str(pizzas) + ',I really love pizza!' )

pizzaA
pizzaB
pizzaC
I like:pizzaA!
I like:pizzaB!
I like:pizzaC!
老喜欢吃披萨了，比如：['pizzaA', 'pizzaB', 'pizzaC'],I really love pizza!

In [10]:

animals = ['dog','cat','bird']
for temp in animals:
     print(temp)
print('A '+ animals[0] + ' would make a great pet1')
print('A '+ animals[1] + ' would make a great pet2')
print('A '+ animals[2] + ' would make a great pet3')
print('Any of these animals would make a great pet')

dog
cat
bird
A dog would make a great pet1
A cat would make a great pet2
A bird would make a great pet3
Any of these animals would make a great pet

4.3 创建数字列表

函数range（），生成数字。使用时如果不符合预期，尝试加一减一。e

In [12]:
for value in range(1,5):
    print(value)

1
2
3
4

In [13]:
for value in range(1,6):
    print(value)

1
2
3
4
5

In [14]:
numbers = list(range(1,6))
print(numbers)

[1, 2, 3, 4, 5]

In [15]:
even_numbers = list(range(2,11,2))
print(even_numbers)

[2, 4, 6, 8, 10]

In [18]:
squares = []
for value in range(1,11):
     square = value * 2 
     squares.append(square)
print(squares)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [19]:
squares = []
for value in range(1,11):
     squares.append(value*2)
print(squares)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

对数字列表执行简答的统计计算

In [45]:
digits = [1,2,3,4,5,6,7,8,9,0]
min (digits)
len(digits)
max(digits)
len(digits)
max(digits)
sum(digits)

45

In [27]:
squares = [value**2 for value in range(1,11)]
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [28]:
bumbers = list(range(1,21))
print(bumbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [44]:

temp = list(range(1,21))
for t in temp:
	print(t)

TypeError: list expected at most 1 argument, got 2

In [43]:
temp = list(range(1,1000001))
print(sum(temp))

TypeError: list expected at most 1 argument, got 2

In [41]:
temp = list(range(1,21,2))
for t in temp:
	print(t)

TypeError: list expected at most 1 argument, got 3

In [42]:

temp = list(range(3,31))
temp2 = []
for t in temp:
	if t % 3 == 0:
		temp2.append(t)
print(temp2)

TypeError: list expected at most 1 argument, got 2

In [46]:

for value in range(3,31,3):  
    print(value)

TypeError: list expected at most 1 argument, got 3

4.4使用列表的一部分

In [47]:
players = ['charles','martina','michael','florence','eli']
print(players[0:3])

['charles', 'martina', 'michael']

In [48]:
players = ['charles','martina','michael','florence','eli']
print(players[2:4])

['michael', 'florence']

In [49]:
players = ['charles','martina','michael','florence','eli']
print(players[:4])

['charles', 'martina', 'michael', 'florence']

In [50]:
players = ['charles','martina','michael','florence','eli']
print(players[2:])

['michael', 'florence', 'eli']

In [52]:
players = ['charles','martina','michael','florence','eli']
print(players[-3:])

['michael', 'florence', 'eli']

In [53]:
players = ['charles','martina','michael','florence','eli']
print("how are the three number:")
for player in players[:3]:
    print(player.title())

how are the three number:
Charles
Martina
Michael

In [56]:
players = ['charles','martina','michael','florence','eli']
friends_foods = players[:]
print("my favorite food are:")
print(players)

print(friends_foods)

my favorite food are:
['charles', 'martina', 'michael', 'florence', 'eli']
['charles', 'martina', 'michael', 'florence', 'eli']

In [57]:
players = ['charles','martina','michael','florence','eli']
friends_foods = players[:]
players.append('cannoli')
friends_foods.append("icecream")
print("my favorite food are:")
print(players)

print(friends_foods)

my favorite food are:
['charles', 'martina', 'michael', 'florence', 'eli', 'cannoli']
['charles', 'martina', 'michael', 'florence', 'eli', 'icecream']

In [58]:
lists = ['1','2','3','4','5','6','7'] 
print('The first three items in the list are:')
temp1 = lists[:3]
for t1 in temp1:
	print(t1)

The first three items in the list are:
1
2
3

In [59]:
lists = ['1','2','3','4','5','6','7'] 
print('The first three items in the list are:')
temp1 = lists[2:5]
for t1 in temp1:
	print(t1)

The first three items in the list are:
3
4
5

In [60]:
lists = ['1','2','3','4','5','6','7'] 
print('The first three items in the list are:')
temp1 = lists[-3:]
for t1 in temp1:
	print(t1)

The first three items in the list are:
5
6
7

In [61]:

my_pizzas = ['pizzaA','pizzaB','pizzaC']
friend_pizzas = my_pizzas[:]
my_pizzas.append('my_pizzaD')
friend_pizzas.append('friend_pizzaD')
print('My favorite pizzas are: ')
for temp in my_pizzas:
	print(temp)
print('My friend\'s favorite pizzas are: ')
for temp in friend_pizzas:
	print(temp)

My favorite pizzas are:
pizzaA
pizzaB
pizzaC
my_pizzaD
My friend's favorite pizzas are:
pizzaA
pizzaB
pizzaC
friend_pizzaD

In [62]:

my_foods = ['pizza', 'falafel', 'carrot cake']	
for t in my_foods:
	print(t)

pizza
falafel
carrot cake

4.5 元组（不可变的列表为元组）

In [63]:
dimensions = (200,50)
print(dimensions[0])
print(dimensions[1])

200
50

In [64]:
dimensions = (200,50)
dimensions[0]=250

TypeError: 'tuple' object does not support item assignment

In [65]:
dimensions = (200,50)
for dimension in dimensions:
    print(dimension)

200
50

In [67]:
dimensions = (200,50)
print("original dimensions:")
for dimension in dimensions:
    print(dimension)
    
dimensions = (400,100)
print("\nmodified dimensions:")
for dimension in dimensions:
    print(dimension)

original dimensions:
200
50

modified dimensions:
400
100

In [69]:
food = ('冰淇淋','苹果','牛肉','羊肉','火锅')	
for f in food:
	print(f)
food = ('1','2','牛肉','羊肉','火锅')	
for f in food:
	print(f)

冰淇淋
苹果
牛肉
羊肉
火锅
1
2
牛肉
羊肉
火锅

4.6设置代码格式